.container {
    width: 100%;

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.empty {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}