.container {
	width: 100%;

	h1 {
		margin-bottom: 20px;

		text-align: center;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
	}
}


.empty {
	text-align: center;

	font-size: 25px;
	font-weight: 600;
}