.background {
	display: inline-flex;
	align-items: center;

	cursor: pointer;
	user-select: none;

	border-radius: 25px;
	background: #E7E9EB;

	font-size: 18px;
	font-weight: 400;

	img {
		margin: 0 10px 0 20px;
	}
}