.background {
    display: inline-flex;
    align-items: center;
    background: #E7E9EB;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;

    img {
        margin: 0px 10px 0px 20px;
    }
}