.container {
	position: relative;

	.currency {
		display: flex;
		align-items: center;

		div {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 70px;
			height: 30px;

			cursor: pointer;

			border-radius: 25px;

			background: #E7E9EB;

			&:first-child {
				margin-right: 10px;
			}

			img {
				margin: 0 0 5px 6px;
			}

			p {
				font-size: 12px;
				font-weight: 400;
				line-height: 15px;
			}
		}
	}

	.drop_down {
		position: absolute;
		z-index: 1;

		width: 69px;

		margin-top: 10px;

		transition: opacity 0.4s ease;

		border-radius: 15px;
		background: white;

		p {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;

			padding: 8px 0;

			cursor: pointer;
			user-select: none;

			&:hover {
				background: #E7E9EB;
			}

			&:first-child {
				border-radius: 15px 15px 0 0;
			}

			&:last-child {
				border-radius: 0 0 15px 15px;
			}
		}
	}

}