.container {
    display: flex;
    justify-content: center;

    .wrapper {
        height: 3px;
        width: 40px;
        background-color: rgba(128, 128, 128, 0.2);
        border-radius: 20px;

        &:nth-child(2) {
            margin: 0 10px;
        }

        .bar {
            height: 100%;
            background: #11293B;
            border-radius: 20px;
        }
    }
}