.container {
	display: flex;

	width: 1100px;
	height: 441px;
	margin: 0 auto;

	border-radius: 40px;

	.wrapper_1 {
		width: 429px;
		margin: 44px 0 0 73px;

		.title {
			color: #000;

			font-size: 52px;
			font-weight: 400;
			line-height: 78px;

			span {
				color: #000;

				font-weight: 700
			}
		}

		.subtitle {
			color: #11293B;

			font-size: 20px;
			font-weight: 400;
			line-height: 30px;
		}

		.button {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 155px;
			height: 60px;
			margin-top: 27px;

			cursor: pointer;
			user-select: none;

			border: none;
			border-radius: 40px;
			outline: none;
			background-color: #000;

			font-size: 20px;
			font-weight: 400;
			line-height: 27px;

			svg {
				margin-left: 10px;
			}
		}
	}

	.wrapper_2 {
		position: relative;

		img {
			position: absolute;
			right: 7px;
			bottom: 0;

			user-select: none;
		}

		p {
			margin-right: 25px;

			user-select: none;

			font-size: 307px;
			font-weight: 700;
			line-height: 460px;
		}
	}

	.wrapper_3 {
		position: absolute;
		z-index: 2;
		bottom: 15px;

		margin-left: 42%;

		.sneakers_wrapper {
			display: flex;

			div {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 65px;
				height: 65px;

				cursor: pointer;

				border: 2px solid white;
				border-radius: 15px;

				img {
					width: 60px;
				}

				&:nth-child(2) {
					margin: 0 15px;
				}
			}
		}

		.progress_bar {
			margin-top: 20px;
		}
	}
}