.container {
    width: 1100px;
    height: 441px;
    border-radius: 40px;
    margin: 0 auto;
    display: flex;

    .wrapper_1 {
        width: 429px;
        margin: 44px 0px 0px 73px;

        .title {
            font-weight: 400;
            font-size: 52px;
            line-height: 78px;
            color: #000000;

            span {
                font-weight: 700;
                color: #000000
            }
        }

        .subtitle {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #11293B;
        }

        .button {
            width: 155px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 27px;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 40px;
            background-color: #000000;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            user-select: none;

            svg {
                margin-left: 10px;
            }
        }
    }

    .wrapper_2 {
        position: relative;

        img {
            position: absolute;
            bottom: 0px;
            right: 7px;
            user-select: none;
        }

        p {
            font-weight: 700;
            font-size: 307px;
            line-height: 460px;
            user-select: none;
            margin-right: 25px;
        }
    }

    .wrapper_3 {
        position: absolute;
        z-index: 2;
        bottom: 15px;
        margin-left: 42%;

        .sneakers_wrapper {
            display: flex;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 65px;
                height: 65px;
                border: 2px solid white;
                border-radius: 15px;
                cursor: pointer;
                
                img {
                    width: 60px;
                }

                &:nth-child(2) {
                    margin: 0 15px;
                }
            }
        }

        .progress_bar {
            margin-top: 20px;
        }
    }
}