.container {
	display: inline-block;

	width: 190px;
	margin: 0 37px 20px 0;

	&:nth-child(5n) {
		margin-right: 0;
	}

	.wrapper_1 {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 190px;
		height: 230px;

		border-radius: 20px;


		.mark {
			position: absolute;
			top: 0;
			left: 0;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 49px;
			height: 20px;

			border-radius: 20px 0;
			background: #07F;

			font-size: 10px;
			font-weight: 700;
			line-height: 10px;
		}

		img {
			width: 170px;

			user-select: none;
		}
	}

	.wrapper_2 {
		margin-top: 20px;

		.title {
			color: #000;

			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
		}

		.price {
			margin-top: 8px;

			color: #FD4E61;

			font-size: 18px;
			font-weight: 400;
			line-height: 23px;

			span {
				padding-left: 10px;

				color: #11293B;
				text-decoration-line: line-through;
			}
		}

		.colors_wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;

			margin: 15px 0;


			:first-child {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 71px;
				height: 25px;

				color: #458EF6;
				border-radius: 30px;
				background: rgb(69 142 246 / 26%);

				font-size: 10px;
				font-weight: 700;
				line-height: 10px;
			}

			:last-child {
				display: flex;

				div {
					width: 10px;
					height: 10px;
					margin-right: 8px;

					cursor: pointer;

					border-radius: 50%;
				}
			}
		}
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 50px;

		cursor: pointer;

		color: #11293B;
		border: none;
		border-radius: 30px;
		background: #E7E9EB;

		font-size: 20px;
		font-weight: 400;
		line-height: 24px;

		svg {
			margin-right: 10px;
		}

	}
}